.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.note
{
    font-size: 15px;
    color: black;
}

#songName
{
    box-shadow: 5px 5px 5px darkred;
}

canvas
{
    border: 5px solid darkred;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkred;
}

body
{
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 20px;
}

